@{ 
    Layout = null;
}
@model auction.Models.User
    <div id="myview" name="myview">
    <div id="userpanel" name="userpanel">
        <nav class="navbar navbar-default navbar-fixed-top" id="loginbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="~/Images/AMS_Logo.png" style="height: 51px; width: 121px" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right">
                        @{
                        if (Session["UserProfile"] == null)
                        {
                                <li data-toggle="modal" data-target="#loginModal"><a href="#">Login <span class="sr-only">(current)</span></a></li>
                                <li data-toggle="modal" data-target="#signupModal"><a href="#">Signup</a></li>
                                <li><button class="btn btn-default" type="button" style="margin-top:10px" id="search">Search Product</button></li>
                        }
                        else
                        {
                            auction.Models.User profile = (auction.Models.User)Session["UserProfile"];

                                <li><h3><a href="#" id="username" class="glyphicon glyphicon-user" style="padding-right:10px" onclick="location.href='@Url.Action("Details/"+profile.userID, "Users")'">@profile.username</a></h3></li>
                                <li><h3> <a href="#" id="logoutbtn" class="glyphicon glyphicon-log-out" style="padding-right:10px">Logout</a></h3> </li>
                                <li><button class="btn btn-default" type="button" style="margin-top:25px " id="search">Search Product</button></li>

                        }

                        }






                    </ul>
                </div>
            </div>
        </nav>
    </div>

</div>