@{
    Layout = null;
}
 @*@model auction.Models.Product*@
@*@model Tuple<auction.Models.Product, List<auction.Models.Bid>, auction.Models.Auction>*@


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Bid History</h3>
    </div>
    <div class="panel-body">

      

        Test Partial view


    </div>
</div>

