@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <img src="~/Images/demo.gif" />

    </div>
    <div class="col-md-3">

        <div class="container">
            <link href="~/Content/floatingicon.css" rel="stylesheet" />
            <div class="row">
                <div class="col-md-12">
                    <h2>Find us</h2>
                    <div class="col-md-6 .col-md-offset-3">
                        <ul class="social">
                            <li class="facebook"><a href="http://facebook.com/alterowo"><i class="fa fa-facebook fa-3x"></i></a></li>
                            <li class="twitter"><a href="http://twitter.com/Kyokushinowa"><i class="fa fa-twitter fa-3x"></i></a></li>
                            <li class="pinterest"><a href="http://www.pinterest.com/beatagibalska/"><i class="fa fa-pinterest-p fa-3x"></i></a></li>
                            <li class="behance"><a href="https://www.behance.net/Kurnikowa"><i class="fa fa-behance fa-3x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="jumbotron">
    <h1>Auction</h1>
    <p class="lead">An auction is a process of buying and selling goods or services by offering them up for bid, taking bids, and then selling the item to the highest bidder. The open ascending price auction is arguably the most common form of auction in use today.[1] Participants bid openly against one another, with each subsequent bid required to be higher than the previous bid.[2] An auctioneer may announce prices, bidders may call out their bids themselves (or have a proxy call out a bid on their behalf), or bids may be submitted electronically with the highest current bid publicly displayed</p>
    <p><a href=" " class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


 


    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
